body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}
.container {
  max-width: 400px;
  margin-top: -10px !important;
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}
input::placeholder {
  text-align: center;
  letter-spacing: 0.2em;
}
.temperature{
  font-size: 3em;
  margin-top: -5px !important;
}
.copyright {
  text-align: center;
  position: fixed;
  bottom: 0;
}
.copyright span{
  color: #FF4400;
}